<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Company\CustomModule\Api\CustomRepositoryInterface"
                type="Company\CustomModule\Model\CustomRepository"/>
</config>
